.card{
    margin: auto;
}
.center{
    margin: auto;
}
.arbol, .arbol ul, .arbol li {
    position: relative;
}

.arbol ul {
    list-style: none;
}

.arbol li::before, .arbol li::after {
    content: "";
    position: absolute;
    left: -12px;
}

.arbol li::before {
    border-top: 2px solid green;
    top: 9px;
    width: 8px;
    height: 0;
}

.arbol li::after {
    border-left: 2px solid brown;
    height: 100%;
    width: 0px;
    top: 2px;
}

.arbol ul > li:last-child::after {
    height: 8px;
}